{% extends 'voting/layout-admin.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h2>{% block title %}{% trans "Add Voters" %}{% endblock %}</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <p>{% blocktrans with step=wizard.steps.step1 total=wizard.steps.count%}Step {{ step }} of {{ total }}{% endblocktrans %}</p>

    {% if wizard.steps.current == '0' %}
    <p>{% blocktrans %}Please input one or more voters in the format "<b>FullName</b> <b>Username</b>", one voter per line.{% endblocktrans %}
    </p>
    <p>
      <a href="#voter-example-input" data-toggle="modal">
        <i class="fa fa-fw fa-question-circle"></i>{% trans "Show Example Input" %}
      </a>
      <div id="voter-example-input" class="modal fade" aria-hidden="true" role="dialog">
        <div class="modal-dialog model-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{% trans "Example Input" %}</h4>
            </div>
            <div class="modal-body">
              <div class="well">
                Code Monkey cmonkey<br>
                Boring Manager rob<br>
              </div>
              <p>{% trans "The above input will produce the following voters" %}</p>
              <table class="table">
                <thead>
                  <th>{% trans "Username" %}</th><th>{% trans "Name" %}</th>
                </thead>
                <tbody>
                  <tr><td>cmonkey</td><td>Code Monkey</td></tr>
                  <tr><td>rub</td><td>Boring Manager</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <p>
        <table>
          {{ wizard.management_form|crispy }}
          {% if wizard.form.forms %}
          {{ wizard.form.management_form|crispy }}
          {% for form in wizard.form.forms %}
          {{ form|crispy }}
          {% endfor %}
          {% else %}
          {{ wizard.form|crispy }}
          {% endif %}
        </table>
      </p>

      {% if wizard.steps.current == wizard.steps.last %}
      <!-- confirm voter creation -->
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <th>{% trans "ID" %}</th>
          <th>{% trans "Name" %}</th>
        </thead>
        <tbody>
          {% for name, id in voters %}
          <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      <!-- cancel button -->
      <a href="{{ voting_event.url_edit }}" class="btn btn-default">
        {% trans "Cancel" %}
      </a>

      {% if wizard.steps.prev %}
      <button class="btn btn-default" name="wizard_goto_step" type="submit"
        value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
      {% endif %}

      {% if wizard.steps.next %}
      <button class="btn btn-primary" type="submit"
                                      value="{{ wizard.steps.next }}">{% trans "Next" %}</button>
      {% else %}
      <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
      {% endif %}

    </form>

  </div>
</div>

{% endblock content %}
