{% extends 'voting/layout-admin.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">{% block title %}{% trans "Add Candidate" %}{% endblock %}</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <form method="post">
      {% csrf_token %}
      <table>
        {{ form|crispy }}
      </table>
      <input class="btn btn-primary" type="submit" value="{% trans "Create" %}">
    </form>
  </div>

</div>

{% endblock content %}
