{% extends 'voting/layout.html' %}
{% load i18n %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h2>{% block title %}{{ event.title }}{% endblock %}</h3>
    {% if event.description %}
    <p>{{ event.description }}</p>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    {% if error %}
    <div class="alert alert-info">
      <i class="fa fa-fw fa-info-circle"></i>
      {{ error }}
    </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
        <p>
          {% blocktrans with name=voter.full_name %}Hello, {{name}}! Please vote for a candidate{% endblocktrans %}
        </p>
        {% for candidate in candidates %}
        <div class="radio">
          <label>
            {{ candidate.full_name }}
            <select class="form-control candidate-select" id="candidate_{{ candidate.pk }}" name="candidate_{{ candidate.pk }}">
              <option class="form-control" value="N">{% trans "Not Selected" %}</option>
              <option class="form-control" value="A">{% trans "Agree" %}</option>
              <option class="form-control" value="D">{% trans "Disagree" %}</option>
            </select>
          </label>
        </div>
      {% endfor %}
      <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
      <a href="#" id="reset" class="btn btn-default">{% trans "Reset Choices" %}</a>
      <button name="cancel" class="btn btn-default" type="submit">{% trans "Logout" %}</button>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  {% if choices %}
  // Use jquery to set the initial choices
  {% for candidate, choice in choices.items %}
  $('#candidate_{{ candidate.pk }}').val('{{ choice }}');
  {% endfor %}
  {% endif %}
  $('#reset').click(function() {
    $('.candidate-select').val('N');
  });
</script>
{% endblock %}

