{% extends 'voting/layout-admin.html' %}
{% load i18n %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">{% block title %}{% trans "Edit Voting Event" %}{% endblock %}</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <table>
          {{ form.as_table }}
        </table>
      </div>
      <input class="btn btn-default" type="submit" value="{% trans "Save Changes" %}">
    </form>
  </div>
</div>

{% endblock content %}
