{% extends 'voting/layout-admin-event.html' %}
{% load i18n %}

{% block content %}

<div class="row">

  <div class="col-lg-6">
    <h3>{% trans "Agree Votes" %}</h3>
    <p>
      <div id="candidate-chart-agree" style="height: 250px"></div>
    </p>
    <p>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <th>{% trans "Name" %}</th>
          {# Translators: Noun. Number of votes. #}
          <th>{% trans "Votes" %}</th>
        </thead>
        <tbody>
          {% for candidate in candidates %}
          <tr>
            <td>{{ candidate.full_name }}</td>
            <td>{{ candidate.agree_votes.count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
  </div>

  <!-- candidates list -->
  <div class="col-lg-6">
    <h3>{% trans "Disagree Votes" %}</h3>
    <p>
      <div id="candidate-chart-disagree" style="height: 250px"></div>
    </p>
    <p>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <th>{% trans "Name" %}</th>
          {# Translators: Noun. Number of votes. #}
          <th>{% trans "Votes" %}</th>
        </thead>
        <tbody>
          {% for candidate in candidates %}
          <tr>
            <td>{{ candidate.full_name }}</td>
            <td>{{ candidate.disagree_votes.count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
  </div>

</div>

{% endblock %}

{% block scripts %}
<!-- draw charts -->
<script>
  Morris.Donut({
    element: 'candidate-chart-agree',
    data: [
    {% for candidate in candidates %}
    {label: "{{ candidate }}", value: {{ candidate.agree_votes.count }}},
    {% endfor %}
    ]
  });
  Morris.Donut({
    element: 'candidate-chart-disagree',
    data: [
    {% for candidate in candidates %}
    {label: "{{ candidate }}", value: {{ candidate.disagree_votes.count }}},
    {% endfor %}
    ]
  });
</script>
{% endblock %}
