{% extends 'voting/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h2>{% trans "Welcome" %}</h2>

      <p>
        {% blocktrans %} Welcome to NCTU EE voting system. Please input your username and passphrase to continue.{% endblocktrans %}
      </p>

      <form id="welcome-page-signin" method="post">
        {% csrf_token %}
        <p>
          {{ form|crispy }}
        </p>
        <button class="btn btn-primary pull-right" type="submit">
          {% trans "Continue" %}
          <i class="fa fa-angle-double-right"></i>
        </button>
      </form>

    </div>
  </div>
</div>

{% endblock content %}
