{% extends 'voting/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="well">
  <div class="row">
    <div class="col-lg-7">
      <h2 class="text-center">{% trans "Welcome to NCTU EE Voting" %}</h2>

      <!--[if lt IE 9]>
      <p class="alert alert-danger">
        <i class="fa fa-fw fa-exclamation-triangle"></i>
        {% blocktrans %}This site is incompatible with the browser you are using.
        Please use Internet Explorer 9+ or upgrade to a standard-comformant
        browser like Firefox or Chrome/Chromium.
        {% endblocktrans %}
      </p>
      <![endif]-->

    </div>

    <div class="col-lg-5">

      <form id="welcome-page-signin" method="post">
        {% csrf_token %}
        <p>
          {% blocktrans %}Please input your username and passphrase:{% endblocktrans %}
          {{ form|crispy }}
        </p>

        {% if error %}
        <div class="alert alert-danger">
          <i class="fa fa-fw fa-exclamation-triangle"></i>
          {{ error }}
        </div>
        {% endif %}

        <button class="btn btn-primary pull-right" type="submit">
          {% trans "Continue" %}
          <i class="fa fa-angle-double-right"></i>
        </button>
      </form>

    </div>

  </div>
</div>

  {% endblock content %}
